.container {
    width: 560px;
    height: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin-right: 184px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    padding: 20px 50px;
    text-transform: uppercase;
    background: #6939fb;
    color: white;
    border-radius: 10px 10px 0 0;
}

.title h2 {
    font-size: 25px;
}

.title .ads-plus {
    border: 1px solid #fdfdfd;
    width: 123px;
    display: flex;
    background-color: #6939fb;
    height: 32px;
    text-align: center;
    align-items: center;
    border-radius: 23px;
    justify-content: space-between;
    color: #fdfdfd;
    cursor: pointer;
    padding-right: 15px;
    font-size: 17px;
    font-weight: 600;
}

.title .ads-plus:hover {
    color: #6939fb;
    background-color: #fdfdfd;
    border: 1px solid #6939fb;
    cursor: pointer;
}

.list {
    padding: 15px;
}

.person {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background: white;
    cursor: pointer;
    transform: scaleX(1);
    transition: all 0.2s ease;
}

.person:not(:last-child) {
    margin-bottom: 10px;
}

.person:hover {
    transform: scaleX(1.2);
}

.person .name {
    display: contents;
}

.person .name img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: -12px;
}

.person .name a {
    color: #232427;
    text-decoration: none;
    font-size: 23px;
    font-weight: 900;
}

.person .net-worth span {
    color: #999;
    font-weight: bold;
    text-decoration: none;
}

span {
    font-size: 1.4rem;
}