form {
    height: 405px;
    width: 378px;
    background-color: #232427;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 49%;
    left: 48%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgb(8 7 16 / 60%);
    padding: 28px 32px;
}

form * {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    width: 376px;
    height: 101px;
}

form h3 {
    color: #fdfdfd;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
}

label {
    color: #fdfdfd;
}

.field-area {
    display: block;
    height: 145px;
    width: 95%;
    background-color: #fdfdfd;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: -28px;
    font-size: 22px;
    font-weight: 500;
}

::placeholder {
    color: #242327;
}

.placeholder:focus {
    color: #232427;
}

button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #242327;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    height: 53px;
}

button:hover {
    background-color: #a488fd;
    color: #fdfdfd;
}

.closeModal {
    position: absolute;
    top: -34px;
    left: 20px;
    width: 24px;
    height: 24px;
    opacity: 1.2;
    cursor: pointer;
    transition: opacity ease 0.5s;
    background-color: #232427;
}

.closeModal:hover {
    opacity: 1;
    background-color: red;
}

.closeModal::before,
.closeModal::after {
    content: '';
    position: absolute;
    top: 10px;
    display: block;
    width: 24px;
    height: 3px;
    background: #fdfdfd;
}

.closeModal::before {
    transform: rotate(45deg);
}

.closeModal::after {
    transform: rotate(-45deg);
}