.add_user_form {
    height: 450px;
    width: 450px;
    background-color: #232427;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgb(8 7 16 / 20%);
    padding: 28px 32px;
}

.add_user_form * {

    letter-spacing: 0.5px;
    outline: none;
    border: none;
    width: 376px;
    font-size: 18px;
    font-weight: 00;
    height: 6px;
    margin-top: 0.5em;
}

.add_user_form h3 {
    color: #fdfdfd;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    margin-bottom: 2em;
}

.add_user_form label {
    color: #fdfdfd;
}

.add_user_form input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: #fdfdfd;
    border-radius: 10px;

    font-weight: 0;
    margin-bottom: 8px;
}

::placeholder {
    color: gray;
}

.placeholder:focus {
    color: #232427;
}

.add_user_button {
    margin-top: 29px;
    width: 100%;
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    height: 53px;
}

.add_user_button:hover {
    background-color: var(--move1-color);
    color: #fdfdfd;
}

.closeModal {
    position: absolute;
    top: 9px;
    left: 19px;
    width: 30px;
    height: 24px;
    opacity: 1.2;
    cursor: pointer;
    transition: opacity ease 0.5s;
    background-color: #232427;
}

.closeModal:hover {
    opacity: 1;
    background-color: red;
}

.closeModal::before,
.closeModal::after {
    content: '';
    position: absolute;
    top: 10px;
    display: block;
    width: 24px;
    height: 3px;
    background: #fdfdfd;
}

.closeModal::before {
    transform: rotate(45deg);
}

.closeModal::after {
    transform: rotate(-45deg);
}

.gender {
    width: 382px;
    height: 58px;
    border-radius: 10px;
    border-color: #d3d3d3;
    margin-bottom: 9px;
}

.gender:hover {
    border: 2px;
}