.add-form {
    height: 410px;
    width: 450px;
    background-color: #232427;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 49%;
    left: 48%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgb(8 7 16 / 60%);
    padding: 28px 32px;
}

.add-form * {
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    width: 374px;
    height: 58px;
    margin-bottom: 0.5em;
}

.add-form h3 {
    color: #fdfdfd;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
}
.add-form label{
    color: #fdfdfd;
}
::placeholder {
    color: #242327;
    font-size: 17px;
}

.placeholder:focus {
    color: #232427;
}

.add-button {
    margin-top: 20px;
    width: 100%;
    background-color: #ffffff;
    color: #242327;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    height: 53px;
}

.add-button:hover {
    background-color: #a488fd;
    color: #fdfdfd;
}

.gender {
    width: 382px;
    height: 58px;
    border-radius: 10px;
    border-color: #d3d3d3;
    margin-bottom: 9px;
}

.gender:hover {
    border: 2px;
}

label {
    position: relative;
    cursor: pointer;
    font-weight: 700;
    font-size: 17px;
}
.add-form input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: #fdfdfd;
    border-radius: 10px;

    font-weight: 0;
    margin-bottom: 8px;
}


.closeModal {
    position: absolute;
    top: 13px;
    left: 13px;
    width: 29px;
    height: 24px;
    opacity: 1.2;
    cursor: pointer;
    transition: opacity ease 0.5s;
    background-color: #232427;
}

.closeModal:hover {
    opacity: 1;
    background-color: red;
}

.closeModal::before,
.closeModal::after {
    content: '';
    position: absolute;
    top: 10px;
    display: block;
    width: 24px;
    height: 3px;
    background: #fdfdfd;
}

.closeModal::before {
    transform: rotate(45deg);
}

.closeModal::after {
    transform: rotate(-45deg);
}