.add-room {
    height: 576px;
    width: 450px;
    background-color: #232427;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 28px 32px;
}

.add-room * {

    letter-spacing: 0.5px;
    outline: none;
    border: none;
    width: 376px;
    font-size: 23px;
    font-weight: 800;
    height: 6px;
    color: #fdfdfd;
    margin-bottom: 1.2em;
}

.add-room h3 {
    color: #fdfdfd;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
}

.add-romm label {
    color: #fdfdfd;
}

.add-room input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: #fdfdfd;
    color: #232427;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 300;

}

::placeholder {
    color: #242327;
}

.placeholder:focus {
    color: #232427;
}

.add_room_button {
    width: 100%;
    background-color: #fdfdfd;
    color: #242327;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    height: 53px;
}

.add_room_button:hover {
    background-color: #a488fd;
    color: #fdfdfd;
}

.direction {
    font-size: 14px;
    transition: .3s;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    font-weight: 300;
    height: 46px;
    width: 380px;
    border-radius: 10px;
    background-color: #fdfdfd;
    color: #232427;
}

.direction option {
    background-color: #232427;
    color: #a488fd;
    font-size: 20px;
    width: 50px;
}


/*.direction:hover {
    background-color: #232427;
    color: #a488fd;
}
  */

.closeModal {
    position: absolute;
    top: 9px;
    left: 5px;
    width: 34px;
    height: 24px;
    opacity: 1.2;
    cursor: pointer;
    transition: opacity ease 0.5s;
    background-color: #232427;
}

.closeModal:hover {
    opacity: 1;
    background-color: red;
}

.closeModal::before,
.closeModal::after {
    content: '';
    position: absolute;
    top: 10px;
    display: block;
    width: 24px;
    height: 3px;
    background: #fdfdfd;
}

.closeModal::before {
    transform: rotate(45deg);
}

.closeModal::after {
    transform: rotate(-45deg);
}