
:root {

    --gray-color: #d3d3d3;
    --white-color: #fdfdfd;
    --black-color:#242327;
    --black2-color:#26292f;
    --move-color:#6939fb;
    --move1-color:#a488fd;
    --move2-color:#270199;
    --move3-color:#3902e5;
    --red-color:#df554d;
    --green-color:#95bb72;
}


/* start box */

.d-flex {
    display: flex;
}

.gap-20 {
    gap: 20px;
}

.align-center {
    align-items: center;
}

.d-webkit {
    display: -webkit-box;
}

.d-grid {
    display: grid;
}

.space-between {
    justify-content: space-between;
}


/* end box  */


/* start padding + margin */

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px
}

.m-20 {
    margin: 20px;
}

.mt-0 {
    margin-top: 0px;
}


/* end  padding + margin */


/* start color  */

.bg-white {
    background-color:var(--white-color);
}

.c-black {
    color: var(--black-color);
}

.c-gray {
    color: var(--gray-color);
}


/* end color */


/* start position  */

.p-relative {
    position: relative;
}


/* end position */


/* start font  */

.txt-c {
    text-align: center;
}

.fs-14 {
    font-size: 14px;
}


/* end font */


/* start border  */

.rad-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}


