
    .submit {
        background-color: var(--move-color);
        border-radius: 12px;
        border: 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        font-size: 18px;
        height: 50px;
        margin-top: 38px;
        outline: 0;
        text-align: center;
        width: 57%;
        margin-top: 47px;
        margin-right: 4px;
    }
    .submit:hover{
      background-color: var(--move1-color);
    }
    .submit:active {
        background-color: var(--move-color);
    }
    .form {
      align-items: center;
      display: flex;
      position: relative;
      
    background-color: var(--black-color);
    border-radius: 20px;
    box-sizing: border-box;
    height: 262px;
    padding: 20px;
    width: 632px;
    box-shadow: 3px 3px 3px var(--gray-color);
}
.title {
    color:var(--white-color);
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 29px;
}

.form input {
    background-color: var(--gray-color);
    border-radius: 6px;
    border: 0;
    box-sizing: border-box;
    color: #3f3f54;
    font-size: 18px;
    height: 27px;
    outline: 0;
 
   
}
.form-group{
  justify-content: space-between;
    position: relative;
    display: grid;
}
