:root {
    --gray-color: #d3d3d3;
    --white-color: #fdfdfd;
    --black-color:#242327;
    --move-color:#6939fb;
    --move1-color:#a488fd;
    --move2-color:#270199;
    --move3-color:#3902e5;
    --black2-color:#26292f;
    --red-color:#E0115F;
    --green-color:	#AFE1AF;
}


/* #032c7c */

* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Arabic Regular.ttf');
}
body {
    font-family: 'Montserrat';
    margin: 0;
}
/* end border */
#popedup > *:not(.popupForm) {

    pointer-events: none;
     filter: blur(10px);
   }
   
*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.page {
    background-color: var(--white-color);
    min-height: 250vh;
}


/* start sidebar */

.sidebar {
    background-color: var(--black-color);
    width: 250px;
    box-shadow: 0 0 5px var(--black-color);
}

.sidebar>h3 {
    margin-bottom: 50px;
    color: white;
}

.sidebar>h3::before,
.sidebar>h3::after {
    content: "";
    background-color: var(--white-color);
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.sidebar>h3::before {
    width: 80%;
    height: 2px;
    bottom: -20px;
}

.sidebar>h3::after {
    bottom: -25px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    /* border: 4px solid white; */
}

.sidebar ul li a {
    transition: 0.3s;
    margin-bottom: 5px;
    color: var(--white-color);
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: var(--move-color);
}

.sidebar ul li a span {
    font-size: 14px;
    margin-right: 10px;
}

@media (max-width:767px) {
    .sidebar {
        width: 58px;
        padding: 10px;
    }
    .sidebar.h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }
    .sidebar>h3::before,
    .sidebar>h3::after {
        display: none;
    }
    .sidebar ul li a span {
        display: none;
    }
}

.logo img {
    display: flex;
    position: relative;
    width: 129px;
    margin-right: 32px;
}

/* end sidebar */


/* start content */

.page h1 {
    margin: 20px 20px 40px;
}

.page h1::before,
.page h1::after {
    content: '';
    height: 3px;
    position: absolute;
    bottom: -10px;
    right: 0;
}

.page h1::before {
    background-color: var(--white-color);
    width: 120px;
}

.page h1::after {
    background-color: var(--black-color);
    width: 40px;
}

.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
}

.wrapper .intro {
    display: flex;
    position: absolute;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px;
}
.remove-all-styles {
    all: revert;
  }



/* end content */