/* success */

.wrapper-success {
    margin: 30px;
}

.wrapper-success .card {
    width: 573px;
    max-width: 3000px;
    max-height: 1000px;
    min-height: 170px;
    background-color: var(--black-color);
    padding: 10px 20px;
    color: var(--white-color);
    display: block;
    justify-content: space-around;
    align-items: center;
    border-left: 21px solid var(--move1-color);
    border-radius: 25px;
   /* box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;*/
}

.wrapper-success .card .subject {
    margin-right: 45px;
}

.wrapper-success .card .subject button {
    width: 100px;
    height: 31px;
    border-radius: 10px;
    background-color: var(--move1-color);
    color: var(--white-color);
}

.wrapper-success .card .subject span {
    display: flex;
}

.wrapper-success .card .subject p {
    color: var(--white-color);
}

.wrapper-success .card .icon {
    font-size: 28px;
    color: var(--move1-color);
}

.wrapper-success .card .icon-times {
    font-size: 28px;
    color: var(--gray-color);
    cursor: pointer;
}


/* success */


/* info */

.wrapper-info {
    margin: 120px;
}

.wrapper-info .card {
    width: 500px;
    height: 70px;
    background-color: var(--white-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: 5px solid var(--move1-color);
    border-radius: 3px;
    /*box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;*/
}

.wrapper-info .card .subject {
    margin-right: 180px;
}

.wrapper-info .card .subject p {
    color: var(--gray-color);
}

.wrapper-info .card .icon {
    font-size: 28px;
    color: var(--move1-color);
}

.wrapper-info .card .icon-times {
    font-size: 28px;
    color: var(--gray-color);
    cursor: pointer;
}


/* info */


/* warning */

.wrapper-warning {
    margin: 120px;
}

.wrapper-warning .card {
    width: 720px;
    height: 120px;
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: 5px solid #fdc220;
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.wrapper-warning .card .subject {
    margin-right: 180px;
}

.wrapper-warning .card .subject p {
    color: #909092;
}

.wrapper-warning .card .icon {
    font-size: 28px;
    color: #fdc220;
}

.wrapper-warning .card .icon-times {
    font-size: 28px;
    color: #c3c2c7;
    cursor: pointer;
}
.orderfooter button{
    background-color: var(--move-color);
    border-radius: 20px;
    color: var(--white-color);
    height: 30px;

}
.orderfooter button:hover{
    background-color: var(--move1-color);
}
.orderfooter{
    margin-right: 180px;
}
/* warning */