.user {
    background-color: var(--black-color);
    width: 146px;
    height: 42px;
    border-radius: 4px;
    margin-right: -11px;
}

.user a {
    text-decoration: none;
    color: var(--white-color);
}

.user a:hover {
    cursor: pointer;
}

.pen {
    border: none;
    width: 26px;
    height: 26px;
    color: var(--white-color);
    background-color: var(--black-color);
    border-radius: 15px;
}

.pen i a {
    text-decoration: none;
}

.pen i:hover {
    cursor: pointer;
}

.pen a i:hover {
    color: var(--move-color);
}

.trash {
    border: none;
    width: 26px;
    height: 26px;
    color:  var(--white-color);
    background-color: var(--black-color);
    border-radius: 15px;
}

.trash i a {
    text-decoration: none;
}

.trash i:hover {
    cursor: pointer;
}

.trash a i:hover {
    color: var(--red-color);
}

.user:hover {
    background-color: var(--move-color);
    color: var(--white-color);
}

.container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-65%, 24%);
}

table {
    width: 800px;
    border-collapse: collapse ;
    overflow: hidden;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    border-radius: 8px;

}

th {
    padding: 15px;
    background: linear-gradient(161deg, var(--move1-color), var(--move-color));
    color:  var(--white-color);;
}

td {
    padding: 15px;
    color:  var(--white-color);;
    background-color: var(--black-color);
}

th {
    text-align: right;
}

thead th {
    background-color: var(--black-color);
}

tbody tr:hover td{
    background-color:  var(--white-color);
    color: var(--black-color);
}

tbody td {
    position: relative;
}

