
.container {
    box-shadow: 0 15px 30px 1px var(--gray-color);
    background: var(--move-color);
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    height: 228px;
    width: 214px;
    margin: 24px;
    padding: 0px;
}

.product {
    transition: all 0.3s ease-out;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 82%;
    display: inline-block;
}
.product-add {
    transition: all 0.3s ease-out;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 82%;
    display: inline-block;
}
.info {
    background:var(--black-color);
    transition: all 0.3s ease-out;
    position: absolute;
    font-size: 95%;
    color: var(--white-color);
    height: 100%;
    width: 100%;
}
.info-add {
    background: #232427;
    transition: all 0.3s ease-out;
    position: absolute;
    font-size: 105%;
    color: #FFF;
    height: 100%;
    width: 100%;
}
.info h2 {
    text-align: center;
    color: var(--move1-color);
}
.info-add h2 {
    text-align: center;
    color: #f9a26c;
}
.product:hover .info {
    transform: translateX(0);
}
.product-add:hover .info-add {
    transform: translateX(0);
}
.info ul li {
    transition: 0.3s ease;
    margin-bottom: 5px;
}
.info-add ul li {
    transition: 0.3s ease;
}
.info ul li:hover {
    transform: translateX(5px) scale(1.3);
}
.info-add ul li:hover {
    transform: translateX(5px) scale(1.3);
}
.btn {
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 700;
    line-height: 0px;
    padding: 6px 16px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
    background-color: var(--black-color);
    border: none;
    color: #FFF;
}
.btn-add {
    box-sizing: border-box;
    font-size: 58px;
    font-weight: 700;
    line-height: -17px;
    padding: 89px 16px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
    background-color: #232427;
    border: none;
    color: #FFF;
}
.btn a {
    color: #fff;
}
.btn-add a {
    color: #fff;
}

.btn a:hover {
    color: var(--move1-color);
}

.btn i:hover {
    color: var(--green-color);
}
.btn-add i:hover {
    color: var(--move1-color);
}
.button i:hover {
    color: var(--red-color);
}
