form {
    height: 650px;
    width: 403px;
    background-color: #232427;
    position: relative;
    right: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgb(8 7 16 / 60%);
    padding: 3px 20px;
}

form * {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    color: #fdfdfd;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 22px;
    font-weight: 500;
    color: #fdfdfd;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: #fafafa;
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: rgb(142, 138, 138);
}

.placeholder:focus {
    color: #232427;
}

.field-area {
    display: flex;
    height: 110px;
    width: 100%;
    background-color: #fdfdfd;
    border-radius: 10px;
    padding: 0 10px;
    margin-top: -28px;
    font-size: 22px;
    font-weight: 500;
    margin-top: 25px;
    
}

button {
    margin-top: 25px;
    width: 100%;
    background-color: #ffffff;
    color: #232427;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #a488fd;
    color: #fdfdfd
}

.container {
    position: relative;
    width: 100%;
    height: 11%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
    border-radius: 200%;
}

.selector {
    position: relative;
    width: 100%;
    height: 41px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 9999px;
    box-shadow: 0 0 16px rgb(0 0 0 / 63%);
}

.selecotr-item {
    position: relative;
    height: 83%;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: -58px;
}

.selector-item_radio {
    appearance: none;
    display: none;
    border: 12px #fdfdfd;
}

.selector-item_label {
    height: 100%;
    text-align: center;
    border-radius: 9999px;
    line-height: 474%;
    color: #fdfdfd;
}

.selector-item_radio:checked+.selector-item_label {
    background-color: #a488fd;
    color: #a488fd;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5), 0 2px 4px rgba(0, 0, 0, .5);
    transform: translateY(-2px);
}
