.searchimport {
    border-radius: 10px;
    background-color: var(--black-color);
    height: 127px;
    margin-right: 29px;
    color: var(--white-color);
    display: grid;
    position: relative;
    justify-content: space-between;
    width: 100%;
}

.searchimport button:hover {
    background-color: var(--move1-color);
    color: var(--white-color);
    cursor: pointer;
}
.searchimport button {
    background-color: var(--gray-color);
    font-size: 12.5px;
    border-radius: 10px;
    color: var(--black-color);
}
.searchimport #search {
    width: 67px;
    margin-right: 40px;
    margin-left: 5px;
    margin-bottom: -13px;
    height: 31px;
    margin-top: 16px;
    color: var(--black-color);
    border-radius: 4px;
}

.searchimport #file {
    margin-right: 42px;
    margin-top: -46px;
    width: 206px;
    color: var(--white-color);
}

.searchimport #file:hover {
    cursor: pointer;
}

.searchimport .import {
    width: 127px;
    margin-right: 42px;
    margin-top: 7px;
    height: 27px;
    border-radius: 5px;
    text-decoration: none;
}


.searchimport input {
    width: 251px;
    border-radius: 3px;
    margin-top: -23px;
    margin-bottom: -21px;
    margin-right: 112px;
    height: 29px;
    border-radius: 5px;
    color: var(--gray-color);
    border: none;
}
